[submodule "ShareUMassBackend"]
	path = backend
	url = git@github.com:atharvakale343/ShareUMassBackend.git
[submodule "hackathon-frontend"]
	path = frontend
	url = git@github.com:Shreneken/hackathon-frontend.git
