[submodule "ShareUMassBackend"]
	path = backend
	url = https://github.com/atharvakale343/ShareUMassBackend.git
[submodule "hackathon-frontend"]
	path = frontend
	url = https://github.com/Shreneken/hackathon-frontend.git
